* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Museo Sans Cyrl",sans-serif;
	background: #b5aaaa0d;
}
main {
	background: #b5aaaa0d;
	width: 100%;
	height: 100vh;
	}	
a {
	background: #b5aaaa0d;
	text-decoration:none;
}
.cursor {
	display: flex;
	flex-direction: column;
    justify-content:space-around;	
	padding-left: 100px;
	height: 145px;
	color: #52545e;
	font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.8em;
}
.container {
	display: flex;
	width:80%;
	margin: 0 auto;
	flex-direction: column;
}
.curor-power {
	display: flex;
	flex-direction: column;
	width: 25%	;
	background: #fff;
	color: #ca5c24;
	margin: 0 5px 28px;
    padding: 13px 15px 55px 40px;
    border-radius: 9px;
	transition: cubic-bezier(.165,.84,.44,1) 500ms;
    transform: translateY(0);
}
.curor-powers {
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.curor-power_num {
	margin-bottom: 20px;
	background: #fff;
	font-weight:600;
	font-size: 16px;
	text-align: right;
}
.curor-power_title {
	background: #fff;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight:600;
}
.curor-power_desc {
	background: #fff;
}
.curor-power:hover {
	transition: cubic-bezier(.165,.84,.44,1) 800ms;
	transform:  translateY(-10px); 
	box-shadow: 0 1px 20px 0 rgba(0,0,0,.12);

}